html{
    box-sizing:border-box;
}

*, *::before, *::after{
    box-sizing:inherit;
    
}
/*
Each column should be 45.45% wide with a gutter space of 9.09%
*/
nav ul li {
    display:inline-block;
    text-decoration: none;
    text-transform:uppercase;
    margin-right: 45px;
}
nav ul li a {
    text-decoration: none;
    display:block;
  

}


body{
    background-color: #800080;
}
.main{
    margin-top: 10px;
}


.page-container{
    width:1000px;
    margin: 0 auto;
}
#newblogpost-title{
    margin-bottom: 10px;
}

footer {
    margin-top: 10px;
}

a {
    margin-right: 20px;
    text-decoration:none;
    color:white;
}



.col2 {
    width: 50%;
    float: left;
    margin-right: 0;
}

.col2last {
    width: 50%;
    float: right;
    margin-right: 0;
}

.formrow{
    display:block;
    float:left;
    clear:both;
    height: 23px;
    width: 214px;
}
.formrow1 {
    display: inline-block;
    float: left;
    clear: both;
}
.formrow label{
    display:block;
}

._table{
  margin-top:10px;

}
.listitem {
   float:left;
   clear:left;
   padding:10px;    
   width:25%;
  
   background-color:pink;
}
.main-post {
     padding-left: 10px;
    width: 75%;
    /* width: 100%; */
    background-color: rgba(48, 25, 52, 0.75);
    font-size: 36px;
    margin-bottom: 20px;
}
.main-post a{
    color:#e75480;
}
    .main-post p {
       margin-top:0px;
        height: 100px;
        width: 100%;
        color:#ffb6c1;
        font-size: 20px;
    }
    .clearfix{
        clear:both;
    }

    footer{
        clear:both;
    }